@font-face {
  font-family: 'Gilroy';
  src: url(./assets/font/gilroy/Gilroy-Black.ttf);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(249, 249, 249, 1);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Gilroy';
  margin: 0;
}

* {
  outline: 1px solid red;
}